:root{
    --primeryColor:green;
    --errorColor:orange;
}
/* css파일의 변수를 선언 할 때는 :root{}이렇게 입력하고
{}안에다가 key와value값으로 값을 설정한다
key값은 아무렇게나 정해도 되고 value값은 css값을 설정한다 */

html{
    box-sizing:border-box;
    /* 박스모델(content, padding, border, margin 
    content-box는 영역의 크기를 지정할 때 패딩과 테두리를 제외한 
    content크기만을 계산
    border-box는 영역의 크기를 지정할 때 패딩과 테두리를 포함한
    content크기만을 계산
    일반적으로 인간은 content크기를 지정할 때 패딩과 테두리도 포함한다.*/
}

body{
    display: flex;
    align-items: center;
    /* 수직중앙정렬 */
    justify-content: center;
    /* 수평중앙정렬 */
    min-height: 100vh;
    /* 뷰포트의 높이를 100%를 최소 높이로 지정 */
    background-color: white;
}
/* display:felx;를 먹인 태그는 부모태그가 되는거고 div태그는 자식태그가 된다 */

#wrapper{
/* body태그 아래 div태그니까 선택자를 건드린다*/
    width:420px;
    box-shadow: 0px 4px 14px rgba(0,0,0,0.2);
    /* box-shadow의 역할은 영역의 그림자를 설정한다
    0px는 수평 방향의 그림자를 생성
    4px는 수직 방향으로 그림자를 생성
    14px는 그림자의 블러값(그림자의흐림도)를 적용 
    rgba(0,0,0,0.2); 그림자 색깔*/
}

h2{
    text-align: center;
    margin-top:20px;

}

.inputGroup{
    padding: 8px 12px;
    /* 8px은 패딩을 위 아래로 8px씩
    12px은 패딩을 왼쪽오른쪽으로 12px씩 */
}

.inputGroup label{
    display:block;
    padding: 12px 0;
}

.inputGroup input{
    display:block;
    /* display:block은 영역(2차원)과 공간(3차원)을 차지 
    display:inline은 영역과 너비를 가지지 못한다. 즉, width와 height속성 설정이 불가능하다*/
    /* display:inline-block은 영역과 너비를 가지면서 가로줄은 요소 하나가 다 차지하지 않고
    가로줄로 여러요소가 쌓일수있다 */
    width:93%;
    padding: 12px;
    border:2px solid #e2e2e2;
    font-size: 16px;
}

.inputGroup input:focus{
    /* css 태그의 focus은 특별한 기능을 주고 싶을 때 사용 */
    outline: none;
    /* 테두리를 안보이게 하는거 */
    border: color #777;
    /* 테두리 색깔 지정 */
}

.inputGroup.valid input{
    /* .valid는 자바스크립트로 가상의 css선택자를 설정 */
    border-color:var(--primaryColor)
    /* 테두리 색깔이 초록색 */
    /* var(--primaryColor)=> green */

}

.inputGroup.invalid .input{
    /* .invalid는 자바스크립트로 가상의 css선택자를 설정 */
    border-color:var(--errorColor)
    /* 테두리 색깔이 주황색 */
    /* var(--primaryColor)=> green */
    /* visibility: visible; */
}

.inputGroup .helperText{
    display:block;
    padding-top:8px;
}

.inputGroup.valid .helperText{
    visibility: hidden;
}

.inputGroup.valid .helperText{
    color:var(--errorColor);
}

#wrapper button{
    display:block;
    width:85%;
    margin: 0 auto;
    height: 50px;
    margin-bottom: 25px;
    font-size: 18px;
    background-color: var(--primeryColor);
    border:2px solid var(--primeryColor);
    color:white;
    /* 텍스트 색깔 */
    cursor:pointer;
}
